{% extends 'main/base.html' %}
{% block content_body %}
    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                <button type="submit" name="btn_login"
                        class="btn btn-lg btn-block btn-primary">
                    Login
                </button>
            </form>
        </div>
        <div class="col-lg-6">
            <form method="post">
                <button type="submit" name="btn_sign_up"
                        class="btn btn-lg btn-block btn-default">
                    Sign Up
                </button>
            </form>
        </div>
    </div>
{% endblock %}
