{% extends "main/base.html" %}
{% block content_body %}
<table class="table table-striped">
    <thead>
        <tr class="h4">
            <th>#</th>
            <th>Username</th>
            <th>Invite</th>
        </tr>
    </thead>
    <tbody>
    {% for name in names %}
        <tr class="h4">
            <th>{{ loop.index }}</th>
            <td>{{ name }}</td>
            <td>
                <button onclick="InviteNetworkPlayer('{{ name }}')"
                        class="btn btn-primary">
                    Invite
                </button>
            </td>
       </tr>
    {% endfor %}
    </tbody>
</table>
<form id="frm_accepted_game" method="post" role="form" hidden="hidden"
      action="{{ url_for('game.network_play') }}">
    <input id="inp_game_id" name="inp_game">
</form>
{% include "modals/user_invited.html" %}
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="../../static/js/socket.io.min.js"></script>
    <script type="text/javascript" src="../../static/js/network_player.js"></script>
    <script>
        $(document).ready(function() {
            var socket = io.connect('http://' + document.domain + ':' +
                    location.port + '/Reciprocity');
            socket.on('Invite Network Player', function(data){
                var currentUserId = '{{ session.get('USER_ID') }}';
                var inviterId = data.inviter_id;
                var inviteeId = data.invitee_id;
                if (currentUserId == inviteeId) {
                    $('#inp_inviter_id').val(inviterId);
                    $('#mdl_user_invited').modal('show');
                }
            })
            socket.on('Accepted Network Game', function(data){
                var currentUserId = '{{ session.get('USER_ID') }}';
                var inviterId = data.inviter_id;
                var gameId = data.game_id;
                if (currentUserId == inviterId) {
                    $('#inp_game_id').val(gameId);
                    $('#frm_accepted_game').submit();
                }
            })
        })
    </script>
{% endblock %}
